<mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
  <mat-grid-tile>
    <img
      class="logo"
      src="../../../assets/Logo_Kostenbuch.png"
      alt="Logo an open book"
    />
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/file-upload" mat-raised-button color="primary">
      file-upload
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button routerLink="/update-list" mat-raised-button color="primary">
      update-list
    </button>
  </mat-grid-tile>
</mat-grid-list>
