<mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
  <mat-grid-tile>
    <img
      class="logo"
      src="../../../assets/Logo_Kostenbuch.png"
      alt="Logo an open book"
    />
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/show-transaktions" mat-raised-button color="primary">
      Transaktions
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button routerLink="/file-upload" mat-raised-button color="primary">
      Upload File
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button routerLink="/update-list" mat-raised-button color="primary">
      Categorize
    </button>
  </mat-grid-tile>
</mat-grid-list>
