############## JAVA ##############
*.class
.gradle
build/*
!build/generate-resources/
.classpath
.factorypath
.project
.settings
bin/
kls_database.db
############## Package Files ##############
*.jar
*.zip
*.tar.gz
*.log
############## Typescript/JS ##############
.angular
dist/
node_modules/
############## Miscellaneous ##############
.env
.env.development
.env.production
