############## JAVA ##############
*.class
.gradle
.classpath
.factorypath
.project
.settings
bin/
build/
kls_database.db
############## Package Files ##############
*.jar
*.zip
*.tar.gz
*.log
############## Typescript/JS ##############
.angular
dist/
node_modules/
############## Miscellaneous ##############
.env
.env.development
.env.production
