@if (identifier) {
  <div class="identifier-container">
    <p class="identifier-chip">{{ identifier.label }}</p>
    <button (click)="deleteIdentifier()" class="identifier-button">
      <svg
        class="identifier-button-icon"
        width="20"
        height="20"
        viewBox="0 0 20 20"
      >
        <circle
          cx="10"
          cy="10"
          r="9"
          fill="none"
          stroke="white"
          stroke-width="2"
        />
        <line x1="6" y1="6" x2="14" y2="14" stroke="white" stroke-width="2" />
        <line x1="6" y1="14" x2="14" y2="6" stroke="white" stroke-width="2" />
      </svg>
    </button>
  </div>
}
