@use "../../../styles.scss";
.identifier {
  &-container {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 3px;
    background-color: styles.$myGreen;
    color: white;
    border: 3px styles.$myPurple solid;
    border-radius: 90px;
    margin: 0.1rem;
  }
  &-chip {
    margin: 0;
  }
  &-button{
    background: none;
    border: none;
    padding: 0;
    height: 20px;
    &-icon:hover circle, &-icon:hover line{
      stroke: #0d1f2d;
    }
  }
}
