.fileUpload {
  border: solid 2px cyan;
  border-radius: 10px;

  &_heading {
    color: aqua;
  }

  &_hidden {
    display: none;
  }

  &_choseButton {
    border-radius: 10%;
    background-color: cyan;
    margin: 5px;
  }
}
