<mat-grid-list cols="12" rowHeight="150px" gutterSize="5px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile colspan="2">
    <div class="box">
      <button mat-raised-button color="primary" (click)="onClick()">
        getList
      </button>
    </div>
    <!--<li class="box" *ngFor="let item of transaktions">{{ item.purpose }}</li>-->
  </mat-grid-tile>
</mat-grid-list>
