<table>
  <thead class="sticky">
    <tr>
      <th colspan="4">
        <h2>List of Transaktions</h2>
        <navigation-button (click)="onClick()" label="Save" />
      </th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Source</th>
      <th>Purpose</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    @for (transaction of transactions; track transaction.transactionID) {
      <tr>
        <td>{{ transaction.transactionID }}</td>
        <td>{{ transaction.source }}</td>
        <td>{{ transaction.purpose }}</td>
        <td>
          <!-- <select [(ngModel)]="transaction.category" name="category"> -->
          <!--   @for (category of categories; track category) { -->
          <!--     <option [value]="category">{{ category }}</option> -->
          <!--   } -->
          <!-- </select> -->
        </td>
      </tr>
    }
  </tbody>
</table>
