<table>
  <thead class="sticky">
    <tr>
      <th colspan="4">
        <h2>List of Transaktions</h2>
        <navigation-button (click)="onClick()" label="Save" />
      </th>
    </tr>
    <tr>
      <th>ID</th>
      <th>Agent</th>
      <th>Purpose</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    @for (transaktion of transaktions; track transaktion.id) {
      <tr>
        <td>{{ transaktion.id }}</td>
        <td>{{ transaktion.agent }}</td>
        <td>{{ transaktion.purpose }}</td>
        <td>
          <select [(ngModel)]="transaktion.category" name="category">
            @for (category of categories; track category) {
              <option [value]="category">{{ category }}</option>
            }
          </select>
        </td>
      </tr>
    }
  </tbody>
</table>
