.logo {
  position: absolute;
  left: 10px;
}
:host {
  display: grid;
  height: 170px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
  padding: 10px;
}
