<div class="category">
  @if (category) {
    <div class="category-header">
      <h1 class="category-header-label">{{ category.categoryLabel }}</h1>
      <select name="type" id="type" [(ngModel)]="category.type" (ngModelChange)="changeType()">
        @for (type of enumValues; track $index) {
          <option>{{ type }}</option>
        }
      </select>
      <button class="category-header-button" (click)="deleteCategory()">
        deleteCategory
      </button>
    </div>

    <div class="addIdentifier">
      <h4>Add Identifier:</h4>
      <input type="text" [(ngModel)]="identifierInput" />
      <button (click)="addIdentifier()">add</button>
    </div>

    <div class="category-content">
      @for (identifier of category.identifier; track identifier.identifierID) {
        <app-identifier-chip
          (identifierDeleted)="deleteIdentifier($event)"
          [identifier]="identifier"
        ></app-identifier-chip>
      }
    </div>
  }
</div>
