spring:
  application:
    name: cashflow
  jpa:
    hibernate:
      ddl-auto: none
  security:
    oauth2:
      resourceserver:
        jwt:
          # issuer-uri: http://localhost:8099/realms/cashflow_realm
          issuer-uri: http://eckler.local:9000/realms/cashflow_realm
  flyway:
    enabled: true
# debug: true
---
# dev
# spring:
#   config:
#     activate:
#       on-profile: dev
#   datasource:
#     url: jdbc:h2:file:./cashflowdb
#     username: dev
#     password:
#   h2:
#     console:
#       enabled: true
#       path: /h2
#   flyway:
#     password:
#     user: dev
#     url: jdbc:h2:file:./cashflowdb
#     locations: classpath:db/migration

---
# prod
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  flyway:
    password: ${POSTGRES_PASSWORD}
    user: ${POSTGRES_USER}
    url: ${POSTGRES_URL}
