spring:
  output:
    ansi:
      enabled: always
  application:
    name: cashflow
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://eckler:9000/realms/cashflow_realm
  flyway:
    enabled: true
logging:
  level:
    dev:
      eckler:
        cashflow: debug
    org:
      apache:
        tomcat:
          util:
            net: INFO

---
# dev
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:file:./cashflowdb
    username: dev
    password:
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    password:
    user: dev
    url: jdbc:h2:file:./cashflowdb
    locations: classpath:db/migration

---
# prod
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  flyway:
    password: ${POSTGRES_PASSWORD}
    user: ${POSTGRES_USER}
    url: ${POSTGRES_URL}
